<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static 'ttapp/images/favicon.ico'%}">
    <title>MyDjango</title>
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/jumbotron-narrow.css' %}"> -->
    <style>
      html,body{ height: 100%;}
      *{ box-sizing:border-box;}
      .imgBox{ transform-style: preserve-3d; position: relative; width:100px; height: 100px; margin:200px auto 0;}
      .imgBox img{width:100%; height: 100%; position: absolute; top:0; transition: transform 1s linear; cursor: pointer;
        border-radius: 10px; box-shadow: 1px 1px 1px 1px #222;}
      @keyframes xzmm{
        from{ transform: perspective(400px) rotateY( 0deg) translateZ(200px);}
        to{ transform: perspective(400px) rotateY( 360deg) translateZ(200px);}
      }
      .imgBox img.sel{ box-shadow: 0 0 3px 1px #00BCD4;}
    </style>
</head>

<body>

    <div class="container">
        <div class="header clearfix">
            <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active">
                    <a href="{% url 'ttapp:index' %}">Home</a>
                </li>
                <li role="presentation"><a href="/tt">Poll</a></li>
                <li role="presentation"><a href="/tt/crawler">Crawler</a></li>
              </ul>
            </nav>
            <h3 class="text-muted">Django Project</h3>
        </div>

        <div class="jumbotron">
            <h1>Jumbotron heading</h1>
            <p class="lead">You keep on concentrating on the things you wish you had or things you wish you didn’t have and you sort of forget what you do have.</p>
            
            {% if request.user.is_authenticated %}
            <p>
                {{request.user}}
                <a class="btn btn-lg btn-success" href="/logout/" role="button">Log Out</a>
            </p>
            {% else %}
                <p><a class="btn btn-lg btn-success" href="/login/" role="button">Log In</a></p>
            {% endif %}
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
              <h4>夏至未至</h4>
              <p>走曾经走过的路，唱曾经唱过的歌，爱曾经爱过的人，却再也提不起恨。</p>

              <h4>时代</h4>
              <p>人的欺骗分为两种：一种是她扭曲了黑白，颠倒了左右。</p>

              <h4>爱与痛的边缘</h4>
              <p>我是个经常笑的人，可是我不是经常快乐，很多时候当我感到悲伤，泪水还没来得及涌上来，笑容已经爬上了眼角眉梢。</p>
            </div>

            <div class="col-lg-6">
              <h4>不再见</h4>
              <p>寂寞的人总是记住生命中出现的每一个人，正如我总是意犹未尽地想起你</p>

              <h4>愿风裁尘</h4>
              <p>很多我们以为一辈子都不会忘记的事情，就在我们念念不忘的日子里，被我们遗忘了。</p>

              <h4>猜火车</h4>
              <p>躲在某一时间，想念某一段时光的掌纹。站在某一地点，想念一个站在来路，也站在一个去路的，让我牵挂的人</p>
            </div>
<!--     <div id="imgBox" class="imgBox">
      <img src="http://p0.so.qhimgs1.com/bdr/_240_/t0172db3b26c0d1d4ac.jpg" />
      <img src="http://p0.so.qhimgs1.com/bdr/_240_/t01435a4eb0bd6efd60.jpg" />
      <img src="http://p1.so.qhimgs1.com/bdr/_240_/t015b7b61b7d7b6957d.jpg" />
      <img src="http://p5.so.qhimgs1.com/bdr/_240_/t017e0d36aa4fbb419b.jpg" />
      <img src="http://p0.so.qhimgs1.com/bdr/_240_/t0187b703add3536f20.jpg" />
      <img src="http://p2.so.qhimgs1.com/bdr/_240_/t0113dc91902322c3ae.jpg" />
      <img src="http://p2.so.qhimgs1.com/bdr/_240_/t01b6aba2da3d0fb5de.jpg" />
      <img src="http://p3.so.qhimgs1.com/bdr/_240_/t01b3b707f7b292d023.jpg" />
      <img src="http://p4.so.qhimgs1.com/bdr/_240_/t01b56d441e69b85004.jpg" />
    </div> -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.js"></script>
    <script>
      $(function(){
        var $imgBox = $("#imgBox");
        var imgCount = $imgBox.children().length;
        var dur = 9;  // 旋转一圈所需时间，单位s
        
        $imgBox.children().each(function(i,dom){
          var $this = $(this);
          $this.css({
            "z-index":  imgCount-i,
            "animation":  "xzmm "+dur+"s linear "+i*(dur/imgCount)+"s infinite forwards"
          }).on("mouseenter",function(){
            $(this).parent().children().removeClass("sel").css({
              "animation-play-state": "paused"
            });
            $(this).addClass("sel");
          }).on("mouseleave",function(){
            $(this).parent().children().removeClass("sel").css({
              "animation-play-state": "running"
            });
          });
        });
      })
    </script>
        

        {% block content %}{% endblock %}

        <footer class="footer">
            <p>Copyright &copy; ZhouHao All rights reserved.</p>
        </footer>    
    </div> <!-- /container -->

</body>
</html>