{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'ttapp/style.css' %}" />
 --><h1>Welcome, let's begin to poll</h1>


<div class="center">
	{% if latest_question_list %}
<h2>最新投票</h2>
	<ul>
		{% for question in latest_question_list %}
			<li><a href="{% url 'ttapp:detail' question.id %}">{{ question.question_text }}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<p>No tt are available.</p>
{% endif %}

{% if hot_question_list %}
<h2>最热投票</h2>
	<ul>
		{% for question in hot_question_list %}
			<li><a href="{% url 'ttapp:detail' question.id %}">{{ question.question_text }}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<p>No tt are available.</p>
{% endif %}
</div>

{% endblock %}